body{
    background-color: rgb(231, 216, 149);
}

h1{
    font-family: cursive, sans-serif;
    color: rgb(248, 14, 150);
    font-size: 50px;
    text-align: center;
}

li{
    font-family: monospace, serif;
    font-size: 25px;
    text-align: center;
}